# Build files
*.o
*.out
*.ko
*.mod
*.mod.c
*.order
*.symvers
modules.order
Module.symvers

# Build folders
build/

# Editor files
.vscode/
.idea/

# Temporary files
*.tmp
*.swp

# Logs generated during local testing
logs/*.log

# OS files
.DS_Store
Thumbs.db

# Kernel module build leftovers
.*.cmd
.tmp_versions/
*.mod.o
*.ko.cmd
